@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
}

.body-content {
  width: 1000px;
  margin: 0 auto;
}

/*********************************************************** 
hero 
***********************************************************/
.hero {
  background-color: #1f2937;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.hero>.header {
  height: 70px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero>.header>.logo {
  flex: 1 1 100px;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.hero>.header>.link {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero>.hero-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero>.hero-content>div {
  height: 230px;
  flex: 0 1 auto;
  display: flex;
  gap: 48px;
}

.hero>.hero-content>div>div {
  flex: 1;
}

.hero>.hero-content .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.hero>.hero-content .left>h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero>.hero-content .left>p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero>.hero-content .left>a>button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}

.hero>.hero-content .right {
  background-color: #6d747d;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************** 
one 
***********************************************************/

.one {
  padding: 50px 0;
}

.one>h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.one>.content {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.one>.content>.item {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.one>.content>.item>.box {
  border: 4px solid #3882f6;
  border-radius: 10px;
  height: 170px;
  width: 170px;
}

.one>.content>.item>p {
  text-align: center;
  color: #6d747d;
  font-size: 18px;
}